.container {
  display: flex;
  align-items: center;
}

.name {
  font-weight: bold;
  margin-right: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #659dbd;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.buton:focus {
  color: #ffffff;
  background-color: #659dbd;
  border: 2px solid #ffffff;
}
